/* styles.css */

/* General Styles */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}
 
main {
    /* font-size: 16px; */
    /* font-weight: 600; */
}

/* Header Section */
header {
    /* background: url('steptodown.com858957.jpg') no-repeat center center/cover; */
    color: black;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); */
    /* padding: 100px 0; Optional padding */
    /* background-color: azure; */
}

/* Section Titles */
section h2 {
    font-weight: bold;
}

/* Footer */
footer {
    width: 100%;
}

.intro {
    padding-right: 200px;
}


/* Active Navigation Link */
/* .nav-item.active .nav-link {
    color: #FFD700;
} */

/* Custom Navbar Styles */
.navbar .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbar .nav-link i {
    margin-right: 5px;
}

/* Adjust font size or color if needed */
.navbar .nav-link {
    font-size: 1rem;
    font-weight: 600;
}